 <div class="col-xs-12 col-right col-md-3 col-sm-3">
  {% if settings.enable_block_right %}
      {{ 'images-block-right.jpg' | asset_url | img_tag }}
      <div class="content-right">
        {{settings.content_right_detail}}
  </div>
  {% endif %}
</div>

















































