{% if settings.home_product_title_2 != blank %}
<div class="heading-block">
  <h3 class="title">{{ settings.home_product_title_2 }}</h3>
</div>
{% endif %}
{% if settings.enable_product_2 %}
<div class="top-product">
  {% assign tabs_collection = settings.product_collection %}
  {% assign row_limit_setting = settings.product_list_limit %} 
  {% assign current_collection = collections[tabs_collection] %}
  {% assign owl_id = 'owl_tabproduct' %}
  {% include 'carousel-product' %}
</div>
{% endif %}