<div class="loading cbox">Processing...</div>
<div class="ajax-error-cbox cbox">
  <div class="modal-inner">
    <div class="ajax-error-title">Error</div>
    <div class="ajax-error-message"></div>
  </div>
</div>
<div class="ajax-success-cbox cbox">
	<div class="content">

        <p class="success-message show-cart">added to cart success.</p>
        <p class="success-message show-wishlist">added to wishlist success.</p>        


    <a href="javascript:void(0)" class="close-cbox"><span class="icon_close"></span></a>
 	</div>    
</div>