{% assign number_of_related_products = settings.number_of_related_products | plus:1 %}
{% if collection == null or collection.handle == 'frontpage' or collection.handle == 'all' %}
{% assign found_a_collection = false %}
{% for c in product.collections %}
{% if found_a_collection == false and c.handle != 'frontpage' and c.handle != 'all' and c.all_products_count > 1 %}
{% assign found_a_collection = true %}
{% assign collection = c %}
{% endif %}
{% endfor %}
{% endif %}

{% if collection and collection.products_count > 1 %}

<div class="related-products">
  {% if settings.related_products_title != '' %}
  <div class="heading-block">
  	<h2>{{ settings.related_products_title }}</h2>
  </div>
    {% endif %}
  <div class="container">
    <div class="row">
      <div class="products-grid">

        {% assign current_product = product %}
        {% assign current_product_found = false %}
        {% for product in collection.products limit: number_of_related_products %}
        {% if product.handle == current_product.handle %}
        {% assign current_product_found = true %}
        {% else %}
        {% unless current_product_found == false and forloop.last %}
       {% comment %}
        {% include 'related-product-item' %}
       {% endcomment %} 
        {% include 'product-grid-item' %}
        {% endunless %}
        {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    $(".related-products .products-grid").owlCarousel({
      itemsCustom : [
      	[300, 2],
        [600, 3],
        [700, 3],
        [1000, 3],
        [1600, 4]
      ],
      autoPlay : false,
      stopOnHover : false,

      lazyLoad : true,
      lazyFollow : true,
      lazyEffect : "fade",
      pagination : false,

      // Navigation
      navigation : true,
      navigationText : ['<i class="clever-icon-preview"></i>','<i class="clever-icon-next"></i>'],
      rewindNav : true,
      scrollPerPage : false,

    });

  })

</script>

{% endif %}