<div class="page-404">
  <h1>404</h1>
  <p class="sub-404">oops! Page Note Found</p>
  <p class="text-404">Sorry, but the page you are looking for it not found. please, make sure you have typed the current url.</p>
  <a class="btn-shop-now"  href="#">Go To Homepage</a>
</div>