

<header class="page-header">

    <h2>{{ page.title }}</h2>

</header>



{% comment %}

  Regular page content goes here.

{% endcomment %}

<div class="rte">

  {{ page.content }}

</div>



{% include 'facebook-pixel-init' %}

{% include 'facebook-pixel-view-content' %}