.bold-ro__product {
  text-align: center;
  margin-top: 5px;
  
  @media only screen and (max-width:600px) {
    width: 100%;
  }
  
  &::after {
    content: '';
    display: table;
    clear: both;
  }  
  
  .bold-ro__recurring-title {
    display: none;
  }
  
  .bold-ro__one-time-div {
    float: left;
    position: relative;
    width: 50%;
    height: 84px;
    border: solid 3px #d8d8d8;
    border-radius: 10px 0px 0px 10px;
    padding: 20px 0px 10px 0px;
    cursor: pointer;
    
    label {
      cursor: pointer;
    }
    
    &.bold-ro__bold-active {
      border: 5px solid #43b5e8 !important;

      &:after {
        content: "";
        width: 20px;
        height: 20px;
        position: absolute;
        background: #ccc;
        top: -9px;
        left: 50%;
        -webkit-transform: translate(-50%);
        transform: translate(-50%);
        background: url(//cdn.shopify.com/s/files/1/0053/9952/t/222/assets/spritesheet-main.png?8458475976932461332) no-repeat 0 -611px;        
      }
      
      label {
        color: #333;
      }
    }
  }
  
  .bold-ro__recurring-div {
    float: right;
    position: relative;
    width: 50%;
    height: 84px;
    border: solid 2px #d8d8d8;
    border-radius: 0px 10px 10px 0px;
    padding: 20px 10px 10px 10px;
    cursor: pointer;

    label {
      cursor: pointer;
      color: #285082 !important;
    }

    .bold-ro__initial-discount-price {
      color: #CF0C0C !important;
      font-size: 1.2em !important;
    }
    
    &.bold-ro__bold-active {
      border: 5px solid #43b5e8 !important;
      
      &:after {
        content: "";
        width: 20px;
        height: 20px;
        position: absolute;
        background: #ccc;
        top: -9px;
        left: 50%;
        -webkit-transform: translate(-50%);
        transform: translate(-50%);
        background: url(//cdn.shopify.com/s/files/1/0053/9952/t/222/assets/spritesheet-main.png?8458475976932461332) no-repeat 0 -611px;        
      }
      
      label {
        color: #333;
      }
    }
    
    .bold-ro__frequency-div {
       margin-left: -100px; 
      margin-top: -8px; */
   /*    border: solid 1px #d8d8d8; */
      border-radius: 10px;
      margin-right: -11px;
      padding-bottom: 10px;
/*       display: none; */
    }
  }
  
  &+.btn-shopify {
    margin-top: 75px;
    padding-top: 24px;
    width: 376px;
  }
}

.title-testament {
  display: none;
}

.product-single__add-to-cart_row {
  padding-top: 20px;
}

.product-subscribe-popup {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 9999;
  display: none;
  
  .popup-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    background-color: white;
    border: solid 3px #00a3dc;
    border-radius: 10px;
    padding: 30px;
    width: 400px;
    
    text-align: center;
    
    .button-area {
      margin-top: 20px;
      border-top: solid 1px #d8d8d8;
      padding-top: 20px;
      
      a {
        display: inline-block;
        padding: 10px 20;
        border-radius: 8px;
        border: solid 1px #d8d8d8;
        margin:0px 15px;
        font-weight: bold;
        
        &:hover {
          background-color: #00a3dc;
          border-color: #00a3dc;
          color: white;
        }
      }
    }
  }
}

button[class*="bold-ro__custombutton"] {
  font-size: 18px;
  height: 51px;
  font-weight: 400;
  letter-spacing: 1px;
  background-color: #ff9818!important;
  color: #fff!important;
  border-color: #ff9818!important;
  width: 100%;
  padding: 0;
  min-width: auto;
}