{%- assign _section = section.settings -%}
{%- assign section_title = _section.title -%}
{%- assign section_text = _section.text -%}

<div class="weigh-alternatives">
  <div class="weigh-alternatives__head">
    {% if section_title != blank %}
      <div class="heading-block">
        <h3 class="title">
          {{ section_title | newline_to_br }}
        </h3>
      </div>
    {% endif %}
    {% if section_text != blank %}
      <div class="paragraph weigh-alternatives__entry">
        {{ section_text }}
      </div>
    {% endif %}
  </div>

  {% if section.blocks.size > 0 %}
    <div class="weigh-alternatives__body">
      {%- for block in section.blocks -%}
        {%- assign _block = block.settings -%}
        {%- assign block_title = _block.title -%}
        {%- assign block_text = _block.text -%}
      
        {% if block_title != blank or block_text != blank %}
          {% if block_title != blank %}
            <div class="bluebartitle">
              <div class="heading-block block-home-category-title weigh-alternatives__subtitle">
                <h3 class="bluetitle">
                  <span>{{ block_title | newline_to_br }}</span>
                </h3>
              </div>
            </div>
          {% endif %}
          {% if block_text != blank %}
            <div class="paragraph weigh-alternatives__entry">
              {{ block_text }}
            </div>
          {% endif %}
        {% endif %}
      {%- endfor -%}
    </div>
  {% endif %}
</div>

{% schema %}
{
  "name": "Weigh Alternatives",
  "settings": [
    {
      "type": "textarea",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Description"
    }
  ],
  "blocks": [
    {
      "type": "block",
      "name": "Block",
      "settings": [
        {
          "type": "textarea",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Weigh Against Alternatives",
      "category": "Homepage"
    }
  ]
}
{% endschema %}